{
  "openapi": "3.0.3",
  "info": {
    "title": "HB1077 DL Sanctions Service Specifications",
    "version": "1.0.0",
    "description": "API to manage HB1077 DL Sanctions"
  },
  "servers": [
    {
      "url": "https://testapi.flclerktools.com/dlservice",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/hb1077-api/customerSanctions/{driverLicenseNumber}": {
      "get": {
        "description": "This method accepts a parameter of driver license number and returns the sanctions (DSU, SUS, or PTS) that can be cleared or reopened by a county for a FLHSMV customer. The response includes driver's name, driver license number and demographic information and an array of sanction details.",
        "operationId": "customerSanctions",
        "parameters": [
          {
            "name": "driverLicenseNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerSanctionResponse"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "DriverLicenseNumber": "string",
                      "CurrentDriverLicenseNumber": "string",
                      "ErrorCode": 1,
                      "ErrorMessage": "string",
                      "FirstName": "string",
                      "MiddleName": "string",
                      "LastName": "string",
                      "DateOfBirth": "2019-08-24T14:15:22Z",
                      "Sex": "string",
                      "LicenseTypeCode": "string",
                      "IssueDate": "2019-08-24T14:15:22Z",
                      "ExpireDate": "2019-08-24T14:15:22Z",
                      "ReinstatementFeeRequired": true,
                      "OtherOpenSanctionsCount": 0,
                      "ReinstatementFeeAllowed": true,
                      "Sanctions": [
                        {
                          "SanctionId": 0,
                          "SanctionType": "DSU or SUS",
                          "SequenceNumber": 0,
                          "CreateDate": "2019-08-24T14:15:22Z",
                          "EffectiveDate": "2019-08-24T14:15:22Z",
                          "RestoreDate": "2019-08-24T14:15:22Z",
                          "CountyCode": 0,
                          "SanctionReasonCode": "string",
                          "CourtIdentifier": "string",
                          "CourtRequirementsMet": true,
                          "ClearedByFCCC": true,
                          "ReopenAllowed": true,
                          "SanctionActions": [
                            {
                              "ActionCode": "string",
                              "ActionName": "string"
                            }
                          ],
                          "RestoreDateAllowed": true,
                          "RequestedActionType": "CRM : CourtRequirementsMet, CLR: Clearance Request",
                          "RestoreMaxDate": "2019-08-24T14:15:22Z",
                          "RestoreMinDate": "2019-08-24T14:15:22Z",
                          "CourtRequirementsMetAllowed": true
                        }
                      ],
                      "DriverLicenceExpired": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "HB-1077 Sanctions Clearance"
        ],
        "x-stoplight": {
          "id": "0j2e4d5wyaxuu"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "CustomerSanctions"
      }
    },
    "/hb1077-api/clearance": {
      "post": {
        "tags": [
          "HB-1077 Sanctions Clearance"
        ],
        "description": "This method is used to clear sanctions for the different scenarios – Court Requirement Met, Clearance Prior to Effective Date and Clearance After Effective Date.",
        "operationId": "clearance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClearanceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ClearanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-stoplight": {
          "id": "nb2a7h74yvg9u"
        },
        "summary": "Clearance"
      }
    },
    "/hb1077-api/notOnRecordClear": {
      "post": {
        "description": "This method is used to clear DSU FTC (Failure to Comply) suspensions before they have been added to the customer driver record. The client must provide the Citation Number of the DSU sanction to be cleared.\nEach request can clear only one DSU/FTC suspension. SUS (Criminal Financial Obligation and Child Support) and PTS suspensions cannot be cleared using this method.",
        "operationId": "notOnRecordClear",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotOnRecordClearRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NotOnRecordClearResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "HB-1077 Sanctions Clearance"
        ],
        "x-stoplight": {
          "id": "zdx3bbn5l9u5h"
        },
        "summary": "NotOnRecordClear"
      }
    },
    "/hb1077-api/reopen": {
      "post": {
        "tags": [
          "HB-1077 Sanctions Clearance"
        ],
        "description": "This method provides the ability to reopen sanctions which were cleared by a Clerk of Court (ClearedbyFCCC) within the last 24 hours. PTS sanctions cannot be cleared reopened using this method.",
        "operationId": "reopen",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReopenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ReopenResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-stoplight": {
          "id": "3igy1dmc472v8"
        },
        "summary": "ReOpen"
      }
    }
  },
  "components": {
    "schemas": {
      "ReopenRequest": {
        "type": "object",
        "x-stoplight": {
          "id": "g090vewj6wa8x"
        },
        "description": "The model of data items included in a Reopen request.",
        "required": [
          "DriverLicenseNumber",
          "Sanctions"
        ],
        "properties": {
          "DriverLicenseNumber": {
            "type": "string",
            "description": "Florida driver license number for the sanction that is being reopened."
          },
          "Sanctions": {
            "type": "array",
            "description": "List of Sanction Reopen Model",
            "items": {
              "$ref": "#/components/schemas/SanctionReopenModel"
            }
          }
        }
      },
      "SanctionReopenModel": {
        "type": "object",
        "description": "Model of the data items in the Sanction object for the Reopen request.",
        "x-stoplight": {
          "id": "zsch1n15cxzke"
        },
        "x-examples": {
          "Example 1": {
            "SanctionId": -2147483648,
            "CountyCode": 1
          }
        },
        "required": [
          "SanctionId",
          "CountyCode"
        ],
        "properties": {
          "SanctionId": {
            "type": "integer",
            "description": "Unique Identifier for the sanction set by FLHSMV.",
            "format": "int32"
          },
          "CountyCode": {
            "type": "integer",
            "description": "Florida TCATS county number",
            "format": "int32"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "x-stoplight": {
          "id": "6k8xocdbl7m4q"
        },
        "x-examples": {
          "Example 1": {
            "httpStatusCode": -2147483648,
            "reason": "string"
          }
        },
        "description": "Model of the data items in an Error response received from the API request.",
        "required": [
          "httpStatusCode"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "format": "int32",
            "description": "Three-digit code that indicate the outcome of an API request."
          },
          "reason": {
            "type": "string",
            "description": "Description of the httpStatusCode."
          }
        }
      },
      "ReopenResponse": {
        "type": "object",
        "x-stoplight": {
          "id": "e2j7uc5avsbdy"
        },
        "description": "Model of data items in the response to a Reopen Request.",
        "x-examples": {
          "Example 1": {
            "DriverLicenseNumber": "string",
            "TransactionId": -2147483648,
            "ErrorCode": -2147483648,
            "ErrorMessage": "string",
            "SanctionErrors": [
              {
                "SanctionId": 0,
                "ErrorCode": 0,
                "ErrorMessage": "string"
              }
            ]
          }
        },
        "required": [
          "DriverLicenseNumber"
        ],
        "properties": {
          "DriverLicenseNumber": {
            "type": "string",
            "description": "Florida driver license number for the sanction that is being reopened."
          },
          "TransactionId": {
            "type": "integer",
            "description": "Unique identifier for the reopen transaction set by FLHSMV.",
            "format": "int32"
          },
          "ErrorCode": {
            "type": "integer",
            "description": "Error code provided by FLHSMV if there was an error in completing the request.",
            "format": "int32"
          },
          "ErrorMessage": {
            "type": "string",
            "description": "Text describing the meaning of the error code."
          },
          "SanctionErrors": {
            "type": "array",
            "description": "Populated if any errors occured in updating individual sanctions.",
            "items": {
              "$ref": "#/components/schemas/SanctionError"
            }
          }
        }
      },
      "SanctionError": {
        "type": "object",
        "description": "Model for the data items in the error object at Sanction level. Populated if any error occured in updating individual sanctions.",
        "x-stoplight": {
          "id": "sgey1keezbuqs"
        },
        "x-examples": {
          "Example 1": {
            "SanctionId": -2147483648,
            "ErrorCode": -2147483648,
            "ErrorMessage": "string"
          }
        },
        "properties": {
          "SanctionId": {
            "type": "integer",
            "description": "Unique Identifier for the sanction set by FLHSMV.",
            "format": "int32"
          },
          "ErrorCode": {
            "type": "integer",
            "description": "Error code provided by FLHSMV if there was an error in completing the request.",
            "format": "int32"
          },
          "ErrorMessage": {
            "type": "string",
            "description": "Text describing the meaning of the error code."
          }
        }
      },
      "NotOnRecordClearRequest": {
        "type": "object",
        "x-stoplight": {
          "id": "txf2ovnwj8280"
        },
        "description": "Model of data items sent in a request for clearing sanctions which are not on record.",
        "x-examples": {
          "Example 1": {
            "DriverLicenseNumber": "string",
            "CitationNumber": "string"
          }
        },
        "properties": {
          "DriverLicenseNumber": {
            "type": "string",
            "description": "Florida driver license number"
          },
          "CitationNumber": {
            "type": "string",
            "description": "The citation number of the DSU (D6/FTC) suspension to be cleared."
          }
        },
        "required": [
          "DriverLicenseNumber",
          "CitationNumber"
        ]
      },
      "NotOnRecordClearResponse": {
        "type": "object",
        "x-stoplight": {
          "id": "jta9aoure8eu5"
        },
        "description": "Model of data items in the response received for a request to clear not on record sanctions.",
        "required": [
          "DriverLicenseNumber"
        ],
        "properties": {
          "DriverLicenseNumber": {
            "type": "string",
            "description": "Florida driver license number."
          },
          "ErrorCode": {
            "type": "integer",
            "description": "Error code provided by FLHSMV if there was an error in completing the request.",
            "format": "int32"
          },
          "ErrorMessage": {
            "type": "string",
            "description": "Text describing the meaning of the error code."
          }
        }
      },
      "ClearanceRequest": {
        "type": "object",
        "description": "Model of data items sent in a request to clear sanctions.",
        "x-stoplight": {
          "id": "is1r4y4qxowsv"
        },
        "properties": {
          "DriverLicenseNumber": {
            "type": "string",
            "description": "Florida driver license number for which the sanction clearance request is being sent."
          },
          "CountyCode": {
            "type": "integer",
            "description": "Florida TCATS county number of the sanction. Out of State (OOS) and PTS sanctions will return a 0.",
            "format": "int32"
          },
          "Sanctions": {
            "type": "array",
            "description": "List of Sanction Model",
            "items": {
              "$ref": "#/components/schemas/Sanction"
            }
          },
          "FeeCollected": {
            "type": "boolean",
            "description": "This boolean data item indicates if the county has collected the fee to reinstate the driver license.",
            "example": true
          }
        },
        "required": [
          "DriverLicenseNumber",
          "CountyCode"
        ]
      },
      "Sanction": {
        "type": "object",
        "description": "Model of data items in the Sanction object. This model will be used in both the request and response. So some of the fields will be populated for both, some are only set for the request and some will only have values for a response.",
        "x-stoplight": {
          "id": "wbajvvauirs1t"
        },
        "properties": {
          "SanctionId": {
            "type": "integer",
            "description": "Unique Identifier for the sanction set by FLHSMV.",
            "format": "int32"
          },
          "SanctionType": {
            "type": "string",
            "description": "The type of the sanction: DSU, SUS, or PTS.",
            "example": "DSU or SUS"
          },
          "SequenceNumber": {
            "type": "integer",
            "description": "An interger value to identify the sanction for the customer.  This value is incremented by FLHSMV for each sanction added to the customer record.",
            "format": "int32"
          },
          "CreateDate": {
            "type": "string",
            "description": "The date when the sanction was created in the FLHSMV system.",
            "format": "date-time"
          },
          "EffectiveDate": {
            "type": "string",
            "description": "The date when the sanction goes into effect.",
            "format": "date-time"
          },
          "RestoreDate": {
            "type": "string",
            "description": "The date when the sanction is cleared.  This will be null for inquiries which return open sanctions.",
            "format": "date-time"
          },
          "CountyCode": {
            "type": "integer",
            "description": "Florida TCATS county number of the sanction. Out of State (OOS) and PTS sanctions will return a 0.",
            "format": "int32"
          },
          "SanctionReasonCode": {
            "type": "string",
            "description": "Reason code for the sanction."
          },
          "CourtIdentifier": {
            "type": "string",
            "description": "Also known as a 7 digit “Ticket Number” or “Citation Number” of the sanction in the FLHSMV system, in the case of a Criminal Financial Obligation or Child Support sanction this is a 22 digit “Warrant Case Id”."
          },
          "CourtRequirementsMet": {
            "type": "boolean",
            "description": "Boolean value that indicates if Court Requirements are met (true or false)."
          },
          "ClearedByFCCC": {
            "type": "boolean",
            "description": "Boolean value that indicates whether the sanction has been cleared."
          },
          "ReopenAllowed": {
            "type": "boolean",
            "description": "Boolean value that indicates if a reopen of a cleared sanction is allowed. ",
            "example": true
          },
          "SanctionActions": {
            "type": "array",
            "description": "List of Sanction Action Model",
            "items": {
              "$ref": "#/components/schemas/SanctionAction"
            }
          },
          "RestoreDateAllowed": {
            "type": "boolean",
            "description": "Boolean value returned in Inquiry response to indicate if a restore date can be set to reinstate the license.",
            "example": true
          },
          "RequestedActionType": {
            "type": "string",
            "description": "This string value is set in the request to clear sanctions. The two values are:\r\nCRM : CourtRequirementsMet \r\nCLR : Clearance Request",
            "example": "CRM : CourtRequirementsMet, CLR: Clearance Request"
          },
          "RestoreMaxDate": {
            "type": "string",
            "description": "This value is set in the response for sanctions inquiry. It indicates the maximum date allowed on restore date.",
            "format": "date-time"
          },
          "RestoreMinDate": {
            "type": "string",
            "description": "This value is set in the response for sanctions inquiry. It indicates the minimum date allowed on restore date.",
            "format": "date-time"
          },
          "CourtRequirementsMetAllowed": {
            "type": "boolean",
            "description": "This boolean is set in the response for sanctions inquiry. It indicates if the sanction can be cleared by setting CourtRequirementsMet to true.",
            "example": true
          }
        },
        "required": [
          "SanctionId",
          "SanctionType"
        ]
      },
      "SanctionAction": {
        "type": "object",
        "description": "Model of data items in SanctionAction object.",
        "x-stoplight": {
          "id": "au3y84eug65uc"
        },
        "properties": {
          "ActionCode": {
            "type": "string",
            "description": "Identifier of a sanction action in the FLHSMV system."
          },
          "ActionName": {
            "type": "string",
            "description": "Descriptive name of the sanction action in the FLHSMV system."
          }
        }
      },
      "ClearanceResponse": {
        "type": "object",
        "x-stoplight": {
          "id": "vsbx0ra688s3a"
        },
        "description": "Model of data items received in the response to Clearance Request.",
        "properties": {
          "DriverLicenseNumber": {
            "type": "string",
            "description": "Florida driver license number for which the sanction clearance request is being sent."
          },
          "TransactionId": {
            "type": "integer",
            "description": "A unique identifier assigned to each clearance transaction.",
            "format": "int64"
          },
          "ErrorCode": {
            "type": "integer",
            "description": "Error code provided by FLHSMV if there was an error in completing the request.",
            "format": "int32"
          },
          "ErrorMessage": {
            "type": "string",
            "description": "Text describing the meaning of the error code."
          },
          "Sanctions": {
            "type": "array",
            "description": "List of SanctionResponse model",
            "items": {
              "$ref": "#/components/schemas/SanctionResponse"
            }
          }
        }
      },
      "SanctionResponse": {
        "type": "object",
        "description": "Model of data items in the SanctionResponse object included in a ClearanceResponse. ",
        "x-stoplight": {
          "id": "c1cn0g4ruwa8y"
        },
        "properties": {
          "SanctionId": {
            "type": "integer",
            "description": "Unique Identifier for the sanction set by FLHSMV.",
            "format": "int32"
          },
          "CountyCode": {
            "type": "integer",
            "description": "Florida TCATS county number of the sanction.",
            "format": "int32"
          },
          "SanctionReasonCode": {
            "type": "string",
            "description": "Reason code for the sanction."
          },
          "CourtIdentifier": {
            "type": "string",
            "description": "Also known as a 7 digit “Ticket Number” or “Citation Number” of the sanction in the FLHSMV system, in the case of a Criminal Financial Obligation or Child Support sanction this is a 22 digit “Warrant Case Id”."
          },
          "Success": {
            "type": "boolean",
            "description": "Boolean value that indicates if the clearance request for this sanction was successful or not.(true or false). "
          },
          "CourtRequirementsMet": {
            "type": "boolean",
            "description": "Boolean value that indicates if Court Requirements are Met (true or false). "
          },
          "ErrorCode": {
            "type": "integer",
            "description": "Error code provided by FLHSMV if there was an error in completing the request.",
            "format": "int32"
          },
          "ErrorMessage": {
            "type": "string",
            "description": "Text describing the meaning of the error code."
          }
        }
      },
      "CustomerSanctionResponse": {
        "type": "object",
        "x-stoplight": {
          "id": "7035h217c0ubv"
        },
        "description": "Model of the data items received in response to Custom Sanctions Inquiry Request.",
        "properties": {
          "DriverLicenseNumber": {
            "type": "string",
            "description": "Florida driver license number"
          },
          "CurrentDriverLicenseNumber": {
            "type": "string",
            "description": "The current driver license number of the customer. Also known as a “cross reference”."
          },
          "ErrorCode": {
            "type": "integer",
            "description": "Error code provided by FLHSMV if there was an error in completing the request.",
            "format": "int32",
            "example": 1
          },
          "ErrorMessage": {
            "type": "string",
            "description": "Text describing the meaning of the error code."
          },
          "FirstName": {
            "type": "string",
            "description": "The first name of the customer"
          },
          "MiddleName": {
            "type": "string",
            "description": "The middle name of the customer"
          },
          "LastName": {
            "type": "string",
            "description": "The last name of the customer"
          },
          "DateOfBirth": {
            "type": "string",
            "description": "The date of birth of the customer on the driver license.",
            "format": "date-time"
          },
          "Sex": {
            "type": "string",
            "description": "M – Male, F – Female"
          },
          "LicenseTypeCode": {
            "type": "string",
            "description": "The type of driver license.(A or B or E etc...)"
          },
          "IssueDate": {
            "type": "string",
            "description": "The date the driver license was issued.",
            "format": "date-time"
          },
          "ExpireDate": {
            "type": "string",
            "description": "The date the driver license expires.",
            "format": "date-time"
          },
          "ReinstatementFeeRequired": {
            "type": "boolean",
            "description": "Boolean value that indicates if Reinstatement fee for DSU and SUS sanctions is required to reinstate the driver license (true or false)."
          },
          "OtherOpenSanctionsCount": {
            "type": "integer",
            "description": "The number of open sanctions unavailable to the Clerks of Court. The count does not include any DSU (D6) or SUS (Criminal Financial Obligation or Child Support) sanctions.",
            "format": "int32"
          },
          "ReinstatementFeeAllowed": {
            "type": "boolean",
            "description": "Boolean value that indicates if Reinstatement fee for DSU and SUS sanctions is allowed to reinstate the driver license (true or false)."
          },
          "Sanctions": {
            "type": "array",
            "description": "List of Sanction model.",
            "items": {
              "$ref": "#/components/schemas/Sanction"
            }
          },
          "DriverLicenceExpired": {
            "type": "boolean",
            "description": "Boolean value that indicates if the Driver License is expired (true or false). "
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Please provide the JWT token. For login information, please contact support.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}