{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0",
    "description": "FLHSMV Sanctions API documentation.\n\nThis API allows authorized users to retrieve customer sanctions, clear eligible sanctions, clear not-on-record FTC sanctions, and reopen recently cleared sanctions.\n\nAuthentication:\n1. Obtain a JWT access token from the ClerkTools Auth API.\n2. Include the token in the Authorization header as: Authorization: Bearer <token>."
  },
  "externalDocs": {
    "description": "ClerkTools Auth Server API Documentation",
    "url": "https://civitek.github.io/open-api-docs/clktools-auth.html"
  },
  "servers": [
    {
      "url": "https://testapi.flclerktools.com/dlservice",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "FLHSMV Sanctions Clearance",
      "description": "Operations for retrieving, clearing, and reopening FLHSMV sanctions."
    }
  ],
  "paths": {
    "/flhsmv-api/customerSanctions/{driverLicenseNumber}": {
      "get": {
        "tags": [
          "FLHSMV Sanctions Clearance"
        ],
        "summary": "Get Customer Sanctions",
        "description": "Retrieves customer license details and sanctions that may be updated through this service, including sanctions cleared within the last 24 hours that may be reopened.",
        "operationId": "getCustomerSanctions",
        "parameters": [
          {
            "name": "driverLicenseNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Florida driver license number for the customer whose sanctions are being requested."
          }
        ],
        "responses": {
          "200": {
            "description": "Customer sanctions retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerSanctionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid driver license number or malformed request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/flhsmv-api/clearance": {
      "post": {
        "tags": [
          "FLHSMV Sanctions Clearance"
        ],
        "summary": "Clear Sanctions",
        "description": "Processes sanction clearance for supported scenarios. The submitted sanctions list is evaluated and each sanction result is returned with success or error details.",
        "operationId": "clearCustomerSanctions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClearanceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Sanction clearance request processed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClearanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload or business validation failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/flhsmv-api/notOnRecordClear": {
      "post": {
        "tags": [
          "FLHSMV Sanctions Clearance"
        ],
        "summary": "Not On Record Clear",
        "description": "Clears an FTC suspension before it appears on the customer driver record. Each request clears one FTC suspension. Criminal Financial Obligation suspensions cannot be cleared using this method.",
        "operationId": "clearNotOnRecordSanction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotOnRecordClearRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Not-on-record FTC clearance processed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotOnRecordClearResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload or citation details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/flhsmv-api/reopen": {
      "post": {
        "tags": [
          "FLHSMV Sanctions Clearance"
        ],
        "summary": "Reopen Sanctions",
        "description": "Reopens sanctions previously cleared within the last 24 hours. Only sanctions cleared by FCCC within that time window are eligible.",
        "operationId": "reopenSanctions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReopenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Reopen request processed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReopenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload or reopen request is not eligible.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "responses": {
      "UnauthorizedError": {
        "description": "Unauthorized. The JWT access token is missing, invalid, or expired.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ServiceErrorCode": {
        "type": "integer",
        "format": "int32",
        "description": "Service error code returned by FLHSMV. See Appendix I error codes below:\n\n- 01: Driver License Number not found.\n- 02: Sanction ID is invalid.\n- 03: The County performing the action is not the County associated with this Sanction.\n- 04: This Sanction ID is not associated with the provided customer DL Number.\n- 05: This Sanction can no longer be re-opened; it was cleared over 24 hours ago.\n- 06: This Sanction has not taken effect - use the Clearance Prior to Effective Date endpoint.\n- 07: Sanction already indicates court requirements met.\n- 08: Sanction does not indicate court requirements met.\n- 09: This Sanction has already taken effect - use the Clearance After Effective Date Endpoint.\n- 10: The Restore Date value is invalid.\n- 11: This sanction has already been cleared.\n- 12: This sanction has already been re-opened.\n- 13: This sanction cannot be re-opened - a fee was paid for clearance.\n- 14: No arrest data has been received for this Citation Number.\n- 15: There is already a pending clearance for this Citation Number.\n- 16: Another County has an active FTC (D6) Suspension that does not indicate Court Requirements Met. No fee can be collected, only the Court Requirements Met endpoint can be used for this sanction.\n- 17: All Effective FTC (D6) Suspensions issued by your County must be sent for Clearance when calling the Clearance After Effective Date service endpoint.\n- 18: Sanction Type is not handled by the service.\n- 19: User MOU not found or expired.\n- 98: Missing required input.\n- 99: An unexpected error has occurred.",
        "example": 1
      },
      "ReopenRequest": {
        "type": "object",
        "properties": {
          "DriverLicenseNumber": {
            "type": "string",
            "description": "Florida driver license number"
          },
          "Sanctions": {
            "type": "array",
            "description": "List of Sanction Reopen Model",
            "items": {
              "$ref": "#/components/schemas/SanctionReopenModel"
            }
          }
        }
      },
      "SanctionReopenModel": {
        "type": "object",
        "properties": {
          "SanctionId": {
            "type": "integer",
            "description": "Identifier of the sanction given by the HSMV",
            "format": "int32"
          },
          "CountyCode": {
            "type": "integer",
            "description": "Florida TCATS county number",
            "format": "int32"
          }
        },
        "description": "List of Sanction Reopen Model"
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "format": "int32"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "ReopenResponse": {
        "type": "object",
        "properties": {
          "DriverLicenseNumber": {
            "type": "string",
            "description": "Florida driver license number"
          },
          "TransactionId": {
            "type": "integer",
            "description": "The identifier of the transaction ",
            "format": "int64"
          },
          "ErrorCode": {
            "$ref": "#/components/schemas/ServiceErrorCode"
          },
          "ErrorMessage": {
            "type": "string",
            "description": "Text describing the meaning of the error code"
          },
          "SanctionErrors": {
            "type": "array",
            "description": "Populated if any errors occured in updating individual sanctions.",
            "items": {
              "$ref": "#/components/schemas/SanctionError"
            }
          }
        }
      },
      "SanctionError": {
        "type": "object",
        "properties": {
          "SanctionId": {
            "type": "integer",
            "description": "Identifier of the sanction given by the FLHSMV",
            "format": "int32"
          },
          "ErrorCode": {
            "$ref": "#/components/schemas/ServiceErrorCode"
          },
          "ErrorMessage": {
            "type": "string",
            "description": "Text describing the meaning of the error code"
          }
        },
        "description": "Populated if any errors occured in updating individual sanctions."
      },
      "NotOnRecordClearRequest": {
        "type": "object",
        "properties": {
          "DriverLicenseNumber": {
            "type": "string",
            "description": "Florida driver license number"
          },
          "CitationNumber": {
            "type": "string",
            "description": "The citation number of the FTC suspension to be cleared."
          }
        }
      },
      "NotOnRecordClearResponse": {
        "type": "object",
        "properties": {
          "DriverLicenseNumber": {
            "type": "string",
            "description": "Florida driver license number"
          },
          "ErrorCode": {
            "$ref": "#/components/schemas/ServiceErrorCode"
          },
          "ErrorMessage": {
            "type": "string",
            "description": "Text describing the meaning of the error code"
          }
        }
      },
      "ClearanceRequest": {
        "type": "object",
        "properties": {
          "DriverLicenseNumber": {
            "type": "string",
            "description": "Florida driver license number"
          },
          "CountyCode": {
            "type": "integer",
            "description": "Florida TCATS county number",
            "format": "int32"
          },
          "Sanctions": {
            "type": "array",
            "description": "List of Sanction Model",
            "items": {
              "$ref": "#/components/schemas/Sanction"
            }
          },
          "FeeCollected": {
            "type": "boolean",
            "description": "Is reinstatement fee for any sanction collected to reinstate the driver license (true or false).",
            "example": true
          },
          "OnlineReinstatementAllowed": {
            "type": "boolean",
            "description": "The reinstatement allowed online. (true or false).",
            "example": true
          }
        },
        "description": "Clearance Request Model Information"
      },
      "Sanction": {
        "type": "object",
        "properties": {
          "SanctionId": {
            "type": "integer",
            "description": "Identifier of the sanction given by the FLHSMV",
            "format": "int32"
          },
          "SanctionType": {
            "type": "string",
            "description": "The type of the sanction",
            "example": "DSU or SUS"
          },
          "SequenceNumber": {
            "type": "integer",
            "description": "Helps to identify the sanction for the customer",
            "format": "int32"
          },
          "CreateDate": {
            "type": "string",
            "description": "The date when the sanction was created.",
            "format": "date-time"
          },
          "EffectiveDate": {
            "type": "string",
            "description": "The date when the sanction goes into effect.",
            "format": "date-time"
          },
          "RestoreDate": {
            "type": "string",
            "description": "The date when the sanction is cleared",
            "format": "date-time"
          },
          "CountyCode": {
            "type": "integer",
            "description": "Florida TCATS county number of the sanction.",
            "format": "int32"
          },
          "SanctionReasonCode": {
            "type": "string",
            "description": "Reason code for the sanction."
          },
          "CourtIdentifier": {
            "type": "string",
            "description": "“Ticket Number” or “Citation Number” "
          },
          "CourtRequirementsMet": {
            "type": "boolean",
            "description": "Is Court Requirement Met (true or false)."
          },
          "ReinstatementFeeCFORequired": {
            "type": "boolean",
            "description": "Deprecated. Reinstatement fee for CFO sanctions is no longer required; this value is always false.",
            "deprecated": true,
            "enum": [
              false
            ]
          },
          "ClearedByFCCC": {
            "type": "boolean",
            "description": "Is Clearead by FCCC (true or false)."
          },
          "ReopenAllowed": {
            "type": "boolean",
            "description": "Is Reopen Allowed (true or false).",
            "example": true
          },
          "SanctionActions": {
            "type": "array",
            "description": "List of Sanction Action Model",
            "items": {
              "$ref": "#/components/schemas/SanctionAction"
            }
          },
          "RestoreDateAllowed": {
            "type": "boolean",
            "description": "Is Restore Allowed (true or false).",
            "example": true
          },
          "RequestedActionType": {
            "type": "string",
            "description": "Requested Action Type",
            "example": "CRM : CourtRequirementsMet, CLR: Clearance Request"
          },
          "RestoreMaxDate": {
            "type": "string",
            "description": "Maximum date allowed on restore date.",
            "format": "date-time"
          },
          "RestoreMinDate": {
            "type": "string",
            "description": "Minimum date allowed on restore date.",
            "format": "date-time"
          },
          "CourtRequirementsMetAllowed": {
            "type": "boolean",
            "description": "Is Court Requirement Met Allowed (true or false).",
            "example": true
          }
        },
        "description": "List of Sanction Model"
      },
      "SanctionAction": {
        "type": "object",
        "properties": {
          "ActionCode": {
            "type": "string",
            "description": "Identifier of a sanction action "
          },
          "ActionName": {
            "type": "string",
            "description": "Descriptive name of the sanction action "
          }
        },
        "description": "List of Sanction Action Model"
      },
      "ClearanceResponse": {
        "type": "object",
        "properties": {
          "DriverLicenseNumber": {
            "type": "string",
            "description": "Florida driver license number"
          },
          "TransactionId": {
            "type": "integer",
            "description": "The identifier of the transaction ",
            "format": "int64"
          },
          "ErrorCode": {
            "$ref": "#/components/schemas/ServiceErrorCode"
          },
          "ErrorMessage": {
            "type": "string",
            "description": "Text describing the meaning of the error code"
          },
          "Sanctions": {
            "type": "array",
            "description": "List of SanctionResponse model",
            "items": {
              "$ref": "#/components/schemas/SanctionResponse"
            }
          }
        }
      },
      "SanctionResponse": {
        "type": "object",
        "properties": {
          "SanctionId": {
            "type": "integer",
            "description": "Identifier of the sanction given by the FLHSMV",
            "format": "int32"
          },
          "CountyCode": {
            "type": "integer",
            "description": "Florida TCATS county number of the sanction.",
            "format": "int32"
          },
          "SanctionReasonCode": {
            "type": "string",
            "description": "Reason code for the sanction."
          },
          "CourtIdentifier": {
            "type": "string",
            "description": "“Ticket Number” or “Citation Number” "
          },
          "Success": {
            "type": "boolean",
            "description": "Is Success (true or false). "
          },
          "CourtRequirementsMet": {
            "type": "boolean",
            "description": "Is Court Requirement Met (true or false). "
          },
          "ErrorCode": {
            "$ref": "#/components/schemas/ServiceErrorCode"
          },
          "ErrorMessage": {
            "type": "string",
            "description": "ErrorMessage"
          }
        },
        "description": "List of SanctionResponse model"
      },
      "CustomerSanctionResponse": {
        "type": "object",
        "properties": {
          "DriverLicenseNumber": {
            "type": "string",
            "description": "Florida driver license number"
          },
          "CurrentDriverLicenseNumber": {
            "type": "string",
            "description": "The current driver license number of the customer. Also known as a “cross reference”."
          },
          "ErrorCode": {
            "$ref": "#/components/schemas/ServiceErrorCode"
          },
          "ErrorMessage": {
            "type": "string",
            "description": "Text describing the meaning of the error code."
          },
          "FirstName": {
            "type": "string",
            "description": "The first name of the customer"
          },
          "MiddleName": {
            "type": "string",
            "description": "The middle name of the customer"
          },
          "LastName": {
            "type": "string",
            "description": "The last name of the customer"
          },
          "DateOfBirth": {
            "type": "string",
            "description": "The date of birth of the customer on the driver license.",
            "format": "date-time"
          },
          "Sex": {
            "type": "string",
            "description": "M – Male, F – Female"
          },
          "LicenseTypeCode": {
            "type": "string",
            "description": "The type of driver license.(A or B or E etc...)"
          },
          "IssueDate": {
            "type": "string",
            "description": "The date the driver license was issued.",
            "format": "date-time"
          },
          "ExpireDate": {
            "type": "string",
            "description": "The date the driver license expires.",
            "format": "date-time"
          },
          "ReinstatementFeeFTCRequired": {
            "type": "boolean",
            "description": "Is Reinstatement fee for FTC (aka D6 or DSU) sanctions is required to reinstate the driver license (true or false)."
          },
          "OtherOpenSanctionsCount": {
            "type": "integer",
            "description": "The number of open sanctions of other types not including D6 suspensions or Financial Obligation Suspensions.",
            "format": "int32"
          },
          "ReinstatementFeeFTCAllowed": {
            "type": "boolean",
            "description": "Is Reinstatement fee for FTC (aka D6 or DSU) sanctions is allowed to reinstate the driver license (true or false)."
          },
          "OnlineReinstatementAllowed": {
            "type": "boolean",
            "description": "Indicates whether online reinstatement is allowed for the customer."
          },
          "Sanctions": {
            "type": "array",
            "description": "List of Sanction model.",
            "items": {
              "$ref": "#/components/schemas/Sanction"
            }
          },
          "DriverLicenceExpired": {
            "type": "boolean",
            "description": "Is Driver License Expired (true or false). "
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Use the JWT access token issued by the ClerkTools Auth server. Obtain a token via the ClerkTools Auth API (see https://civitek.github.io/open-api-docs/clktools-auth.html) then include it as: Authorization: Bearer <token>",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}