{
  "openapi": "3.0.1",
  "info": {
    "title": "Veritek FL Search API",
    "description": "VeritekFL provides a background-check search API to query parties to receive matching court case records across Florida’s 67 counties. Use this API to submit search criteria and receive normalized case, charge, event, and docket details with tracking metadata.\n\nSecurity overview:\n- Authentication uses OAuth2 client credentials for machine-to-machine (M2M) access and issues short-lived JWT access tokens.\n- Token endpoint: https://www.veritekfl.com/auth/oauth2/token.\n- To obtain a token, call the token endpoint using HTTP Basic authentication with your `client_id` and `client_secret` and a form-encoded body: `grant_type=client_credentials&scope=...`.\n- Only an `access_token` (JWT) is returned for M2M client credentials flows; refresh tokens are not issued for M2M. When the access token expires the client should request a new token using its credentials.\n- Include the access token on API requests using the Authorization header: Authorization: Bearer <access_token>.\n\nIntended consumers and onboarding:\n- Intended for authorized partners and integrators with a signed agreement.\n- Client credentials are issued by VeritekFL; onboarding and approval are required before access.\n- Contact your VeritekFL implementation representative to begin onboarding and receive `client_id`/`client_secret`.\n\nScopes and usage:\n- Supported scope for this API: `search.read` (read-only access to search endpoints and data returned).\n- Additional scopes may be introduced in future; partners should request only the minimal scope needed.\n\nToken lifecycle and resilience:\n- Typical access token lifetime is approximately 300 seconds (5 minutes) in development; production values may differ and will be communicated during onboarding.\n- M2M flows do not issue `refresh_token`. When the token expires, request a new `access_token` using client credentials.\n- Rotate client secrets per your security policy (recommended at least annually) or sooner if compromise is suspected.\n\nEnvironment clarity (service vs auth server):\n- API base (protected resources): https://veritekfl.com/api\n- Authorization server (token minting): https://www.veritekfl.com/auth\n- Tokens are minted by the authorization server and presented to the service; both hosts are part of the same environment.\n- The `/oauth2/token` endpoint is documented in this specification for integrator convenience but is operated by the authorization server domain noted above (https://www.veritekfl.com/auth/oauth2/token).\n\nAudit and compliance:\n- Token issuance and usage are logged for operational monitoring and accountability.\n- Requests include `requestId` and timestamps to support traceability.\n- Log retention and audit access follow VeritekFL policy; consult your implementation contact for compliance needs.",
    "version": "v1"
  },
  "externalDocs": {
    "description": "Auth token endpoint (client credentials)",
    "url": "https://www.veritekfl.com/auth/oauth2/token"
  },
  "servers": [
    {
      "url": "https://veritekfl.com/api",
      "description": "Production"
    }
    ,
    {
      "url": "https://test.veritekfl.com/api",
      "description": "Test"
    }
    ,
    {
      "url": "https://veritekfl-service-dev.veritekfl.com",
      "description": "Development"
    }
    ,
    {
      "url": "http://localhost:8080",
      "description": "Local"
    }
  ],
  "security": [
    {
      "bearer-jwt": []
    }
  ],
  "tags": [
    { "name": "Search", "description": "Search endpoints for parties, cases, and related records" },
    {
      "name": "Authorization Server",
      "description": "This service provides endpoints for obtaining OAuth2-style access tokens for both interactive (web/mobile) and machine-to-machine (M2M) use cases.\n\nMachine-to-Machine (M2M) Authentication:\n- Call /oauth2/token with HTTP Basic Authentication using your client credentials (`client_id`/`client_secret`).\n- For M2M, only an `access_token` is returned; no `refresh_token` is issued.\n- When the access token expires the client must request a new token using its credentials.\n\nTypical Usage Flow (Web or Mobile Application):\n1. Call `/oauth2/token` with Basic Authentication (username/password) to generate an `access_token` and, when applicable, a `refresh_token`.\n2. Use the `access_token` (JWT) in requests to access secure APIs: `Authorization: Bearer {access_token}`.\n3. When the access token expires, you can either:\n   - Generate a new token with username/password using `/oauth2/token`, OR\n   - If the authorization server issues a `refresh_token`, use the server's refresh endpoint (if supported) to obtain a new access token without re-entering credentials.\n\nTypical Usage Flow (Machine-to-Machine - M2M):\n- Call `/oauth2/token` with Basic Authentication using client credentials (client_id/client_secret).\n- Only an `access_token` is returned for M2M; no `refresh_token` will be issued.\n- When the access token expires, the client must request a new token using its credentials."
    }
  ],
  "paths": {
    "/search": {
      "post": {
        "tags": ["Search"],
        "summary": "Search for a party",
        "description": "Search for parties and their related court case records using identifying information and optional filters. The service performs best-effort matching and may return multiple candidate parties. Clients should use UCN or PIN where available to disambiguate results. UCN and PIN together make a unique party record on the case.",
        "operationId": "search",
        "requestBody": {
          "description": "Provide the name and date of birth of the person being searched, and optionally the last four digits of their SSN, to initiate a search. Optional fields should be omitted from the request unless explicitly providing values to override the default behavior.",
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SearchRequest" },
              "examples": {
                "basic": {
                  "summary": "Basic name + dob search",
                  "value": { "firstName": "John", "lastName": "Smith", "dob": "1980-01-01", "requestId": "req-123", "requestTimestamp": "2025-11-20T12:34:56Z" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SearchResponse" },
                "examples": {
                  "ok": {
                    "summary": "Single match example",
                    "value": { "parties": [ { "firstName": "John", "lastName": "Smith", "dob": "1980-01-01", "caseModel": { "ucn": "UCN12345" } } ] }
                  }
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": { "description": "Bad request – the request failed validation.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "examples": { "validation": { "summary": "Validation error example", "value": { "timestamp": "2026-01-20T12:00:00Z", "status": "Bad Request", "status_code": 400, "error_message": "'dob' must be a valid date (YYYY-MM-DD)", "error_details": { "field": "dob", "reason": "invalid_format" } } } } } } },
          "401": { "description": "Unauthorized – the token is either invalid or missing.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "examples": { "unauthorized": { "summary": "Unauthorized error example", "value": { "timestamp": "2026-01-20T12:00:00Z", "status": "Unauthorized", "status_code": 401, "error_message": "Invalid or missing bearer token" } } } } } },
          "429": { "description": "Too Many Requests – the rate limit was exceeded.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "examples": { "rate_limit_minimal": { "summary": "Minimal rate limit error", "value": { "status": "Too Many Requests", "status_code": 429, "error_message": "Rate limit exceeded" } } } } } },
          "500": { "description": "Internal server error.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [ { "bearer-jwt": [] } ]
      }
    }
    ,
    "/oauth2/token": {
      "post": {
        "tags": ["Authorization Server"],
        "summary": "Token endpoint",
        "description": "Issue an access token using the OAuth2 `client_credentials` grant. Clients authenticate using HTTP Basic (client_id:client_secret) and present `grant_type=client_credentials` with optional `scope` in the form-encoded body. Use the token endpoint URL: https://www.veritekfl.com/auth/oauth2/token",
        "operationId": "token",
        "servers": [
          {
            "url": "https://www.veritekfl.com/auth",
            "description": "Production"
          }
          ,
          {
            "url": "https://test.veritekfl.com/auth",
            "description": "Test"
          }
          ,
          {
            "url": "https://veritekfl-auth-server-dev.veritekfl.com",
            "description": "Development"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": { "type": "string", "description": "Grant type: client_credentials" },
                  "scope": { "type": "string", "description": "Optional scope(s) requested (space-delimited)" }
                },
                "required": ["grant_type"]
              },
              "examples": {
                "client_credentials": {
                  "summary": "Client credentials request",
                  "value": "grant_type=client_credentials&scope=search.read"
                }
              }
            }
          }
        },
        "security": [ { "basicAuth": [] } ],
        "responses": {
          "200": {
            "description": "Token response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OAuth2TokenResponse" },
                "examples": {
                  "client_credentials": {
                    "summary": "Client credentials response",
                    "value": { "access_token": "eyJhbGciOi...", "token_type": "Bearer", "expires_in": 300 }
                  }
                  
                }
              }
            }
          },
          "400": { "description": "Invalid request", "content": { "application/json": { "schema": { "type": "object" } } } },
          "401": { "description": "Invalid client credentials", "content": { "application/json": { "schema": { "type": "object" } } } },
          "500": { "description": "Server error", "content": { "text/plain": { "schema": { "type": "string" } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchRequest": {
        "type": "object",
        "required": ["dob","firstName","lastName","requestId","requestTimestamp"],
        "properties": {
          "lastName": { "type": "string", "maxLength": 30, "minLength": 1, "description": "Last name of the person being searched.", "example": "Smith" },
          "firstName": { "type": "string", "maxLength": 20, "minLength": 1, "description": "First name of the person being searched.", "example": "John" },
          "dob": { "type": "string", "pattern": "\\d{4}-\\d{2}-\\d{2}", "format": "date", "description": "The date of birth of the person being searched. Use the format YYYY-MM-DD.", "example": "1980-01-01" },
          "ssnLast4": { "type": "string", "maxLength": 4, "minLength": 4, "pattern": "\\d{4}", "description": "(optional) The last four digits of the SSN for the person being searched. Providing this value narrows results to records that match the same last-four digits; however, some records may have a null or missing SSN and can still be returned if other criteria match. Do not rely on `ssnLast4` alone to uniquely identify a person—use UCN or `pin` where available to disambiguate.", "example": "1234" },
          "filedDateFrom": { "type": "string", "pattern": "\\d{4}-\\d{2}-\\d{2}", "format": "date", "description": "(optional) Use this field to set a lower limit of the search range based on the ‘case file date’ value. Use the format YYYY-MM-DD.", "example": "2020-01-01" },
          "filedDateTo": { "type": "string", "pattern": "\\d{4}-\\d{2}-\\d{2}", "format": "date", "description": "(optional) Use this field to set an upper limit of the search range based on the ‘case file date’ value. Use the format YYYY-MM-DD.", "example": "2025-12-31" },
          "caseType": { "type": "string", "description": "(optional) Use this field to limit searches to specific case types using descriptive values. Supported values: FELONY, MISDEMEANOR, CRIMINAL TRAFFIC. If none are provided, the system defaults to all.", "example": "FELONY" },
          "countyCodes": { "type": "array", "items": { "type": "integer", "format": "int32" }, "description": "(optional) Use this field to limit searches to specific counties. The options are: [1 - 67]. If none are provided, the system will default to all options included in the search.", "example": [12,45,67] },
          "includeDockets": { "type": "boolean", "description": "(optional) Use this field to affirm the inclusion of progress docket records in the response. The default is to exclude [false] these records.", "default": false },
          "includeCharges": { "type": "boolean", "description": "(optional) Use this field to exclude charge records from the response. The default is to include [true] these records.", "default": true },
          "includeEvents": { "type": "boolean", "description": "(optional) Use this field to affirm the inclusion of court event records in the response. The default is to exclude [false] these records.", "default": false },
          "requestId": { "type": "string", "description": "This is a unique value generated by your system for end-to-end tracking. The value provided will be echoed in the response.", "example": "abc123xyz" },
          "requestTimestamp": { "type": "string", "description": "This timestamp value is generated by your system at the time of the request. The value will be used to support response time metrics. Use the ISO 8601 format (UTC).", "format": "date-time", "example": "2025-11-20T12:34:56Z" }
        },
        "description": "The search request includes the search criteria available to query the VeritekFL data."
      },
      "OAuth2TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": { "type": "string" },
          "token_type": { "type": "string", "example": "Bearer" },
          "expires_in": { "type": "integer", "format": "int64" }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "parties": { "type": "array", "items": { "$ref": "#/components/schemas/Party" }, "description": "An array of ‘Party’ objects that met the search criteria provided." },
          "apiVersion": { "type": "string", "description": "The version of the API used for this response (e.g. v1)." },
          "requestId": { "type": "string", "description": "The echoed ‘request id’ value provided in the request by the caller." },
          "receiptId": { "type": "string", "description": "A unique identifier generated by VeritekFL to support internal logging activities." },
          "responseTimestamp": { "type": "string", "format": "date-time", "description": "This timestamp value is generated by VeritekFL at the time the response is returned. The value will be used to support response time metrics and will be in the ISO 8601 format (UTC)." }
        },
        "description": "The search response contains an array of ‘Party’ objects and response metadata.",
        "examples": {
          "singleMatch": {
            "summary": "Example response with one party",
            "value": { "apiVersion": "v1", "requestId": "abc123xyz", "receiptId": "rcpt-001", "responseTimestamp": "2025-12-11T12:00:00Z", "parties": [ { "firstName": "John", "lastName": "Smith", "dob": "1980-01-01", "caseModel": { "ucn": "UCN12345" } } ] }
          }
        }
      },
      "ResponseMeta": {
        "type": "object",
        "properties": {
          "requestId": { "type": "string" },
          "processingTimeMs": { "type": "integer", "format": "int32" },
          "resultCount": { "type": "integer", "format": "int32" }
        },
        "description": "The response metadata supports message tracking and system metrics."
      },
      "ErrorResponse": {
        "description": "Standard error response returned by the service. A full error may include timestamp and details; in some cases (e.g., rate limit) a minimal JSON is returned.",
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "timestamp": { "type": "string", "format": "date-time", "description": "When the error occurred (UTC)." },
              "status": { "type": "string", "description": "HTTP status reason phrase (e.g., 'Bad Request')." },
              "status_code": { "type": "integer", "format": "int32", "description": "HTTP status code (e.g., 400, 401, 429)." },
              "error_message": { "type": "string", "description": " error message." },
              "error_details": { "type": "object", "nullable": true, "description": "Optional structured details about validation or processing errors." }
            }
          },
          {
            "type": "object",
            "properties": {
              "status": { "type": "string", "description": "HTTP status reason phrase (e.g., 'Too Many Requests')." },
              "status_code": { "type": "integer", "format": "int32", "description": "HTTP status code (e.g., 429)." },
              "error_message": { "type": "string", "description": " error message." }
            }
          }
        ]
      },
      "Case": {
        "type": "object",
        "required": ["ucn","caseType","caseNumber","filedDate","countyDescription","caseStatusCode"],
        "properties": {
          "ucn": { "type": "string", "minLength": 20, "maxLength": 20, "description": "The uniform case number is the definitive unique identifier for a given case. This value has a standard 20-character format used by all Clerks’ offices. Must be exactly 20 characters." },
          "caseNumber": { "type": "string", "maxLength": 50, "description": "The local identification number assigned by a Clerk of Court’s office. The format of this value is not standardized across all 67 Clerks’ offices." },
          "countyCode": { "type": "string", "description": "The code value of the county this case was filed in (corresponds to 1–67)." },
          "countyDescription": { "type": "string", "description": "The  name/description of the county this case was filed in." },
          "caseType": { "type": "string", "description": "The case type as defined by the Clerk’s office responsible for this case’s data." },
          "courtType": { "type": "string", "description": "The standard category that this case falls under for court assignment purposes. One of: Felony, Misdemeanor, Criminal Traffic.", "example": "Felony" },
          "courtTypeDescription": { "type": "string", "description": " description corresponding to `courtType`." },
          "filedDate": { "type": "string", "format": "date", "description": "The date the case was filed in the Clerk’s office. This value is used for any date range searching specified in the request." },
          "caseStatusDescription": { "type": "string", "nullable": true, "description": "The current status of the case ( value).", "example": "Open" },
          "caseStatusCode": { "type": "string", "nullable": true, "description": "Optional machine-readable status code corresponding to `caseStatusDescription`. If present, clients may use this code for programmatic handling." },
          "charges": { "type": "array", "items": { "$ref": "#/components/schemas/Charge" } },
          "dockets": { "type": "array", "items": { "$ref": "#/components/schemas/Docket" } },
          "events": { "type": "array", "items": { "$ref": "#/components/schemas/Event" } }
        },
        "description": "The ‘case’ object includes details of a case associated with a party that matched the search criteria in the request."
      },
      "Charge": {
        "type": "object",
        "description": "The ‘charge’ object includes details for a specific charge on this case. Values reflect the determined phase precedence (Court > Prosecutor > Initial). Related sentencing activity is captured in an array of `Sentence` objects nested under its charge.",
        "properties": {
          "sequence": { "type": "string", "description": "The unique ID for this charge record." },
          "statute": { "type": "string", "description": "Statute number for the determined phase." },
          "description": { "type": "string", "description": "Description for the determined phase." },
          "levelCode": { "type": "string", "description": "Charge level code for the determined phase." },
          "levelDescription": { "type": "string", "description": " description corresponding to `levelCode`." },
          "degreeCode": { "type": "string", "description": "Charge degree code for the determined phase." },
          "degreeDescription": { "type": "string", "description": " description corresponding to `degreeCode`." },
          "disposition": { "type": "string", "description": "Disposition value for the determined phase." },
          "dispositionDescription": { "type": "string", "description": " description corresponding to `disposition`." },
          "dispositionDate": { "type": "string", "format": "date", "description": "Disposition date for the determined phase." },
          "offenseDate": { "type": "string", "format": "date", "description": "The date the offense occurred." },
          "trafficDispositionCode": { "type": "string", "description": "For traffic-related cases, this value indicates the disposition of the traffic citation." },
          "trafficDispositionDescription": { "type": "string", "description": " description corresponding to `trafficDispositionCode`." },
          "citationNumber": { "type": "string", "description": "For traffic-related cases, this is the value assigned to the citation by law enforcement." },
          "citationIssuedDate": { "type": "string", "format": "date", "description": "For traffic-related cases, this is the date the citation was issued by law enforcement." },
          "pleaCode": { "type": "string", "description": "Defendant final plea code." },
          "pleaDescription": { "type": "string", "description": " description corresponding to `pleaCode`." },
          "caseStatusDescription": { "type": "string", "nullable": true, "description": " case status description when associated at the charge level (if applicable)." },
          "sentences": { "type": "array", "description": "Array of sentences for the charge.", "items": { "$ref": "#/components/schemas/Sentence" } }
        }
      ,
        "x-field-mapping": {
          "note": "Normalized charge fields reflect phase precedence (Court > Prosecutor > Initial). Fields contain values appropriate to the determined phase rather than all phase-specific source fields.",
          "mapping": {
            "statute": "initialFlStatuteNumber | prosecutorFlStatuteNumber | courtFlStatuteNumber",
            "description": "initialFlStatuteDescription | prosecutorFlStatuteDescription | courtFlStatuteDescription",
            "levelCode": "initialChargeLevelCode | prosecutorChargeLevelCode | courtChargeLevelCode",
            "degreeCode": "initialChargeDegreeCode | prosecutorChargeDegreeCode | courtChargeDegreeCode",
            "disposition": "initial status value | prosecutorActionCode | court-phase decision value (if available)",
            "dispositionDate": "initialStatusDate | prosecutorDecisionDate | courtDecisionDate"
          }
        }
      },
      "Docket": {
        "type": "object",
        "properties": {
          "docketIdentifier": { "type": "string", "maxLength": 14, "description": "The unique identifier for this docket record." },
          "docketActionDate": { "type": "string", "format": "date", "description": "This is the date the docket was entered into the Clerk’s system." },
          "docketCode": { "type": "string", "maxLength": 20, "description": "The standard type of docket this object represents." },
          "standardDocketCode": { "type": "string", "maxLength": 50, "description": "Standard docket code." },
          "standardDocketDescription": { "type": "string", "maxLength": 4000, "description": "Standard docket description." },
          "docketText": { "type": "string", "maxLength": 8000, "description": "This is the freeform text entered by the Clerk’s office for this docket record." }
        },
        "description": "The ‘docket’ object represents a progress docket entry for this case."
      },
      "Event": {
        "type": "object",
        "properties": {
          "eventId": { "type": "string", "description": "A unique value that is a combination of the UCN, court appearance date (yyyyMMdd), and standard event code values." },
          "courtAppearanceDate": { "type": "string", "format": "date", "description": "The date the court event is/was scheduled to occur." },
          "courtEventDescription": { "type": "string", "maxLength": 8000, "description": "The standard court event type." },
          "standardCourtEventCode": { "type": "string", "nullable": true, "description": "Optional code for the court event. The  description is provided in `courtEventDescription`; clients may ignore `standardCourtEventCode` if they only use the description." },
          "standardCourtEventDescription": { "type": "string", "nullable": true, "description": "Optional derived  description corresponding to `standardCourtEventCode`." },
          "courtAppearanceTime": { "type": "string", "description": "The time of day the court event is/was scheduled to occur." },
          "courtLocation": { "type": "string", "description": "The address where the court event is/was scheduled to occur. Virtual events may not include a physical address." },
          "division": { "type": "string", "description": "The administrative section of the court assigned this case." }
        },
        "description": "The ‘event’ object represents a court event associated with this case."
      },
      "Party": {
        "type": "object",
        "properties": {
          "ssnLast4": { "type": "string", "description": "(nullable) The last four digits of the SSN for this party.", "example": "1234" },
          "pin": { "type": "string", "description": "The unique party identification number for this record on this case." },
          "lastName": { "type": "string", "description": "Last name of the person on this record.", "example": "Smith" },
          "firstName": { "type": "string", "description": "First name of the person on this record.", "example": "John" },
          "middleName": { "type": "string", "description": "Middle name of the person on this record.", "example": "Robert" },
          "suffix": { "type": "string", "description": "The name suffix, if available, for the person on this record ." },
          "suffixCode": { "type": "string", "nullable": true, "description": "Optional machine-readable suffix code." },
          "suffixDescription": { "type": "string", "nullable": true, "description": "Optional  suffix description when a code is provided." },
          "dob": { "type": "string", "format": "date", "description": "The date of birth of the person on this record, formatted as YYYY-MM-DD.", "example": "1980-01-01" },
          "sex": { "type": "string", "description": "The sex documented for the person on this record ." },
          "sexCode": { "type": "string", "nullable": true, "description": "Optional machine-readable sex code." },
          "sexDescription": { "type": "string", "nullable": true, "description": "Optional  sex description when a code is provided." },
          "race": { "type": "string", "description": "The race documented for the person on this record ." },
          "raceCode": { "type": "string", "nullable": true, "description": "Optional machine-readable race code." },
          "raceDescription": { "type": "string", "nullable": true, "description": "Optional  race description when a code is provided." },
          "driverLicenseNumber": { "type": "string", "description": "The government issued driver’s license number documented for the person on this record." },
          "aliases": { "type": "array", "items": { "$ref": "#/components/schemas/PartyAlias" }, "description": "Alias records associated to this party record as structured name objects." },
          "caseModel": { "$ref": "#/components/schemas/Case" }
        },
        "description": "Person information returned from search"
      },
      "PartyAlias": {
        "type": "object",
        "properties": {
          "lastName": { "type": "string", "description": "Alias last name." },
          "firstName": { "type": "string", "description": "Alias first name." },
          "middleName": { "type": "string", "description": "Alias middle name." },
          "suffix": { "type": "string", "description": "Alias name suffix ." },
          "suffixCode": { "type": "string", "nullable": true, "description": "Optional alias suffix code." },
          "suffixDescription": { "type": "string", "nullable": true, "description": "Optional alias suffix description when a code is provided." }
        },
        "description": "Alias name record for a party, represented as structured name fields."
      },
      "Sentence": {
        "type": "object",
        "properties": {
          "sentenceSequenceNumber": { "type": "string", "description": "The unique ID for this sentence record." },
          "sentenceStatusCode": { "type": "string", "description": "The status of this sentence entry." },
          "sentenceStatusDescription": { "type": "string", "nullable": true, "description": " description corresponding to `sentenceStatusCode`." },
          "sentenceImposedDate": { "type": "string", "format": "date", "description": "The date the sentence was issued by the Court." },
          "sentenceEffectiveDate": { "type": "string", "format": "date", "description": "The date the sentence effectively began based on the Court’s sentencing order." },
          "sentenceCode": { "type": "string", "description": "The code for the sentence type imposed." },
          "sentenceDescription": { "type": "string", "description": " description of the sentence type imposed." },
          "lengthOfSentenceConfinement": { "type": "string", "description": "The amount of time a sentence or confinement action is assigned by the Court at the time of sentencing." },
          "confinementTypeCode": { "type": "string", "nullable": true, "description": "If applicable, the code for the confinement type." },
          "confinementTypeDescription": { "type": "string", "nullable": true, "description": "If applicable,  description for the confinement type." }
        },
        "description": "An array of ‘sentence’ objects for this charge record."
      }
    },
    "securitySchemes": {
      "bearer-jwt": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "VeritekFL uses OAuth 2.0 Client Credentials to issue short-lived JWT access tokens. Obtain a token from the token endpoint by exchanging your `client_id` and `client_secret`. Include the returned access token on requests using the HTTP Authorization header: Authorization: Bearer <token>. Confirm required scopes and token lifetime with your VeritekFL implementation contact."
      },
      
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Client authentication using HTTP Basic"
      }
    }
  }
}
